**/__pycache__
*.egg-info
.coverage
htmlcov
/.eggs/
/build/
/resource/
/scripts/
/simulations/.idea/
/simulations/main.py
/.flake8
/.gitlab-ci.yml
/LICENSE
/package.xml
/pyproject.toml
/README.md
/setup.cfg
/setup.py
/.idea/
